<%= render layout: "shared/inner_sidebar" do %>
  <div class="flex flex-row justify-between items-center min-h-14 shadow-sm px-3">
    <h1 class="text-lg font-semibold"><%= @server.name %></h1>
    <% if @server.owner == current_user %>
      <%= link_to edit_server_path(@server), class: "group relative", data: { turbo_frame: "modal" } do %>
        <i class="fas fa-edit fa-md self-center"></i>
        <%= render partial: "shared/tooltip", locals: { display_text: "Edit server info", position: "-top-3 left-5" } %>
      <% end %> 
    <% end %>
  </div>
  <nav class="m-3">
    <div class="flex flex-row justify-between items-center mt-4">
      <h2 class="text-xs uppercase font-semibold tracking-wider">Channels</h2>
      <% if @server.owner == current_user %>
        <%= link_to new_server_channel_path(@server), class: "group relative", data: { turbo_frame: "modal" } do %>
          <i class="fas fa-plus fa-md"></i>
          <%= render partial: "shared/tooltip", locals: { display_text: "Create channel", position: "-top-3 left-5" } %>
        <% end %>
      <% end %>
    </div>
    <ul>
      <% @server.channels.each do |channel| %>
        <li class="hover:bg-gray-700 text-gray-300 rounded-md py-1 px-2 flex flex-row justify-between content-center">
          <%= link_to channel_path(channel), class: "w-full flex" do %>
            <%= formatted_name(channel) %>
            <% if current_user == channel.server.owner %>
              <%= link_to edit_channel_path(channel), data: { turbo_frame: 'modal' }, class: 'group relative' do %>
                <i class="fas fa-edit fa-xs self-center"></i>
                <%= render partial: 'shared/tooltip', locals: { display_text: 'Edit channel', position: '-top-3 left-5' } %>
              <% end %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
