<%= form_with model: [server, channel], id: 'channel_form', data: { turbo_frame: "_top" }, class: 'space-y-5 py-2 px-4' do |form| %>
 <% if channel.errors.any? %>
  <div id="error_explanation" class="text-red-400">
    <h2><%= pluralize(channel.errors.count, "error") %>:</h2>
    <ul class="list-disc pl-5">
      <% channel.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div>
    <%= form.label :name, class: "text-xs uppercase font-medium text-white block mb-2" %>
    <%= form.text_field :name, class: "bg-gray-800 border border-gray-900 text-gray-100 rounded-sm focus:ring-blue-400 focus:ring-0.5 focus:border-blue-500 block w-full p-2" %>
  </div>
  <div class="flex space-x-4">
    <%= form.submit "Create channel", class: "btn-primary" %>
  </div>
<% end %>
