<%= form_with model: server, id: 'server_form', data: { turbo_frame: "_top" }, class: 'space-y-5 py-2 px-4' do |form| %>
 <% if server.errors.any? %>
  <div id="error_explanation" class="text-red-400">
    <h2><%= pluralize(server.errors.count, "error") %>:</h2>
    <ul class="list-disc pl-5">
      <% server.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div>
    <%= form.label :name, class: "text-xs uppercase font-medium text-white block mb-2" %>
    <%= form.text_field :name, class: "bg-gray-800 border border-gray-900 text-gray-100 rounded-sm focus:ring-blue-400 focus:ring-0.5 focus:border-blue-500 block w-full p-2" %>
  </div>
  <%= form.button server.persisted? ? 'Update' : 'Create', class: "btn btn-primary" %>
<% end %>
