<nav data-controller="sidebar" class="h-full w-16 min-w-16 m-0 flex flex-col bg-gray-900 text-white shadow z-10">
  <%= link_to authenticated_root_path, class:"sidebar-icon group" do %>
    <i class="fas fa-home"></i>
    <%= render partial: "shared/tooltip", locals: { display_text: "Home" } %>
  <% end %>
  <% servers_with_general_channel.each do |server| %>
    <%= link_to channel_path(server.channels.first), class: 'sidebar-icon group' do %>
      <i class="far fa-gem"></i>
      <%= render partial: "shared/tooltip", locals: { display_text: server.name } %>
    <% end %>
  <% end %>
  <%= link_to servers_path, class: "sidebar-icon group" do %>
    <i class="fas fa-compass fa-lg"></i>
    <%= render partial: "shared/tooltip", locals: { display_text: "Explore servers" } %>
  <% end %>
  <%= link_to new_server_path, class: "sidebar-icon group", data: { turbo_frame: "modal" } do %>
    <i class="fas fa-plus"></i>
    <%= render partial: "shared/tooltip", locals: { display_text: "Add server" } %>
  <% end %>
</nav>
 
